@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Supermercado One', cursive;
}

header h1{
    position: relative;
    color: aqua;
    font-size: 2em;
    left: 20px;
}

.flag_a {
    position: absolute;
    border: 1px solid rgb(6, 4, 19);
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
    right: 20vw;
    top: 2vh;
    background-color: rgb(10, 40, 44);
    box-shadow: -1px 1px rgb(13, 10, 49);
}

.home_a {
    position: absolute;
    border: 1px solid rgb(6, 4, 19);
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
    right: 20vw;
    top: 2vh;
    box-shadow: -1px 1px rgb(13, 10, 49);
}

.quiz_a {
    position: absolute;
    border: 1px solid rgb(6, 4, 19);
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
    right: 10vw;
    top: 2vh;
    box-shadow: -1px 1px rgb(13, 10, 49);
}

nav a h2{
    color: rgb(119, 177, 243);
    left: 200px;
    font-size: 1.4em;
}



header {
    display: flex;
    height: 10vh;
    min-height: 60px;
    align-items: center;
    background-color: rgb(10, 39, 43);
}

nav {
    display: flex;
    width: 100vw;
}

.search_bar{
    display: flex;
    height: 6vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 48, 53);
    padding: 20px;
}

.search_box{
    height: 70%;
    width: 35%;
    border-radius: 10px;
    font-size: 1.1em;
    padding-left: 10px;
    min-height: 18px;
}

.search {
    width: 10%;
    height: 70%;
    border-radius: 10px;
    margin: 20px;
    font-size: 1.05em;
    min-height: 25px;
}

.display{
    display: flex;
    justify-content: center;
    background-color: rgb(217, 208, 231); 
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(181, 182, 209);
}

.hImg {
    width: 20vw;
}

.label {
    font-size: 2em;
    color: rgb(11, 22, 32);
    padding: 10px;
}

.flags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(217, 208, 231);
}

.imgHolder{
    padding: 20px;
    border: 1px solid rgb(104, 103, 128);
    width: 20vw;
    background-color: #fff;
}

.img{
    width: 20vw;
}