@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');


* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: 'Supermercado One', cursive;
}

header{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 22);
    font-size: 2em;
}

header h1{
    background-color: rgb(1, 1, 22);
}

.img {
    display: inline;
    background-repeat: no-repeat;
    width: 40vw;
    background-size: contain;
    background-position: center;
    background-size: contain;
}

.img_holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 50vh; */
    overflow: hidden;
    padding: 0.5vw;
}

.holder{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 50vh;
    width: 45vw;
    border: 1px solid rgb(247, 242, 243);
    background-color: black;
    box-sizing: border-box;
}

.search_bar{
    /* border: 2px solid red; */
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.search_box{
    height: 70%;
    width: 35%;
    border-radius: 10px;
    font-size: 1.1em;
    padding-left: 10px;
}

.btn1 {
    width: 10%;
    height: 60%;
    border-radius: 10px;
    margin: 20px;
    font-size: 1.05em;
}

.next {
    width: 100px;
    height: 40px;
    background-color: rgb(1, 1, 24);
    border-radius: 5px;
    font-size: 1.1em;
    
}

.new {
    display: flex;
    /* background-color: red; */
    justify-content: right;
    padding: 30px;
}




