* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    height: 10vh;
    /* border: 2px solid red; */
    align-items: center;
    background-color: rgb(10, 39, 43);
}

.search_bar{
    display: flex;
    height: 6vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 48, 53);
    padding: 20px;
}

.search_box{
    height: 70%;
    width: 35%;
    border-radius: 10px;
    font-size: 1.1em;
    padding-left: 10px;
    min-height: 18px;
}

.search {
    width: 10%;
    height: 70%;
    border-radius: 10px;
    margin: 20px;
    font-size: 1.05em;
    min-height: 25px;
}

.display{
    display: flex;
    justify-content: center;
    background-color: rgb(22, 54, 59); 
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.hImg {
    width: 20vw;
}

.label {
    /* border: 2px solid red; */
    font-size: 2em;
    color: aliceblue;
    padding: 10px;
}

.flags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(13, 48, 53);
}

.imgHolder{
    padding: 20px;
    border: 1px solid black;
    width: 20vw;
}

.name{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.3em;
    border: 1px solid red;

}

.img{
    width: 20vw;
}