@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

header{
    height: 10vh;
    background-color: rgb(11, 31, 139);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    color: #fff;
}

.frame {
    height: 86vh;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 550px;
}


.outside{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    z-index: -1;
}

.out_left{
    animation: animate 0.2s linear;
}

@keyframes animate {
    from {transform: translateX(10%);}
    to {transform: translateX(0%);}
}

.out_right {
    animation: animate1 0.2s linear;
}

@keyframes animate1 {
    from {transform: translateX(-10%);}
    to {transform: translateX(0%);}
}

img{
    height: 80%;  
    /* transition: 1.5s;   */
    /* transform: translateX(-270px); */
}

.section {
    position: relative;
    top: 4%;
    width: 60%;
    height: 100%;
    min-width: 550px;
}

.details{
    /* border: 1px solid black; */
    height: 20%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    height: 70%;
    border: 2px solid black;
    display: flex;
    /* min-height: 400px; */
}

.left{
    position: relative;
    bottom: 1px;
    /* border: 2px solid red; */
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.left_icon{
    /* border: 2px solid red; */
    width: 60px;
    height: 100px;
    background-color: black;
}

.left_icon:hover {
    transition: 0.1s;
    transform: translateX(4px);
}

.left_icon :nth-child(1){
    position: relative;
    top: 30%;
    border: 2px solid #fff;
    width: 50px;
    height: 5px;
    background-color: #fff;
    transform: rotateZ(-45deg);
}
.left_icon :nth-child(2){
    position: relative;
    top: 54%;
    border: 2px solid #fff;
    width: 50px;
    height: 5px;
    background-color: #fff;
    transform: rotateZ(45deg);
}

.right{
    position: relative;
    left: 1px;
    bottom: 1px;
    transform: rotateZ(180deg);
    /* border: 2px solid red; */
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.img_hold{
    position: relative;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* transform: translateX(-100%); */
    /* overflow: hidden; */
}

.details div{
    /* border: 1px solid rgb(252, 248, 248); */
    padding: 3px;
    font-size: 1.1em;
    background-color: black;
    color: #fff;
}



